.add-card-popup {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.add-card-popup_opened {
  display: block;
}
.add-card-popup__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  padding: 24px 36px 37px 36px;
  border-radius: 10px;
}
.add-card-popup__close-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
}
.add-card-popup__close-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}
.add-card-popup__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  color: #000000;
  margin: 0 0 54px 0;
}
.add-card-popup__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 48px;
}
.add-card-popup__input {
  display: block;
  width: 100%;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}
.add-card-popup__input::-ms-input-placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #c4c4c4;
}
.add-card-popup__input::-webkit-input-placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #c4c4c4;
}
.add-card-popup__input::-moz-placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.21;
  color: #c4c4c4;
}
.add-card-popup__input:focus {
  outline: none;
}
.add-card-popup__submit-button {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.21;
  color: #ffffff;
  width: 100%;
  padding: 14px 125px 18px;
  background-color: #000000;
  border-radius: 2px;
  border: none;
}
.add-card-popup__submit-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 720px) {
  .add-card-popup__container {
    width: 282px;
    padding: 25px 22px;
    border: 1px solid #000000;
  }
  .add-card-popup__close-icon {
    width: 26px;
    height: 26px;
    top: -53px;
    right: 0;
  }
  .add-card-popup__title {
    font-size: 18px;
    margin: 0 0 76px 0;
  }
  .add-card-popup__inputs {
    margin-bottom: 46px;
  }
  .add-card-popup__input {
    padding-bottom: 9px;
  }
  .add-card-popup__submit-button {
    font-size: 14px;
    padding: 14px 96px;
    background-color: #000000;
    color: #ffffff;
  }
}
