.gallery {
  padding-top: 50px;
  max-width: 880px;
  margin: 0 auto;
}
.gallery__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  padding: 0;
  margin: 0;
}
.gallery__card {
  background-color: #ffffff;
  list-style-type: none;
  border-radius: 10px;
  max-width: 282px;
}
.gallery__card-image {
  width: 100%;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.gallery__card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 15px 31px 21px;
}
.gallery__card-title {
  color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.gallery__heart-icon {
  width: 21px;
  height: 19px;
}
.gallery__heart-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .gallery {
    padding-top: 45px;
    max-width: 580px;
  }
  .gallery__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 720px) {
  .gallery {
    padding-top: 36px;
    max-width: 282px;
  }
  .gallery__cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
